.hero{
    background: rgb(134, 211, 246);
}

.custom-css-h1-h2 {
    color :rgb(0, 26, 255) !important;
    font-weight:bolder !important;
    font-style: normal !important;
    font-size:50px !important;
    font-family: "Sacramento", cursive !important;
    padding-top: 50px;
}

.bad-script-regular {
    font-family: "Bad Script", cursive !important;
    letter-spacing: 5px !important;
    font-weight:900 !important;
    font-style: normal !important;
    font-size:25px !important;
}

.custom-css-h2{
    padding-top:25px;
}

.custom-css-mountain{
    padding-top:60px ;
}

.jumbootron{
    padding-top: 55px !important;
    padding-bottom:55px !important ;
}

.coustom-css-positioning{
    margin-top: 120px !important;
    margin-bottom:130px !important ;
}
.coustom-css-bold-serif-center-size{
    text-align:center; 
    font-family: "DM Serif Display", serif;
    font-weight:bolder;
    font-style: italic;
}
  
.coustom-css-my-picture{
    border-radius: 50% !important;
}

.coustom-css-position{
    margin-top: 200px !important;
    margin-bottom:200px !important ;
}

