.image_size{
    height:200px;
    width:200px;
}

html{
    background:#ff8000;
}

.links{
    color:rgb(255, 230, 0)
}

ul{
    color:rgb(23, 251, 2);
}

ol{
    color: rgb(81, 255, 0);
}