.image_size{
    height:200px;
    width:200px;
}

html{
    background:#7BD3EA;
}

.links{
    color:#F6D6D6;
}

h1{
    color:#0c07a2f4
}

h2{
    color:#0a02f6f4
}

ul{
    color:#A1EEBD;
}

ol{
    color: #A1EEBD;
}