.flag > p{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 6em;
    color: #002868;
}

#red-part {
    background-color: #ce1126;
    width: 900px;
    height: 600px;
    position: relative;
    left: 15%;
}

div #blue-part{
    background-color: #002868;
    width: 900px;
    height: 200px;
    position: absolute;
    top: 35%;
}

div div #circle{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 350px;
}

div#notice{
    color: black;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    top: 370px;
    left: 390px;
}